<h1>{{model.templateTitle}}</h1>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <td>Product Name</td>
            <td>Qty</td>
            <td>Unit</td>
            <td>Rating</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in model.productList track by item.id">
            <td>{{ item.productName }}</td>
            <td>{{ item.qty }}</td>
            <td>{{ item.um }}</td>
            <td>
                <item-rating value="item.rating">
                    <span class="glyphicon glyphicon-star"></span>
                </item-rating>
            </td>
            <td>
                <dir class="btn-group btn-small">
                    <a class="btn btn-default" ng-click="model.upRating(item)">
                        <span class="fa fa-plus"></span>
                    </a>
                    <a class="btn btn-default" ng-click="model.downRating(item)">
                        <span class="fa fa-minus"></span>
                    </a>
                </dir>
            </td>
        </tr>
    </tbody>
</table>
